body{
    background-image:  url("images/login.jpg");  
      background-repeat: no-repeat; 
    background-size: cover;
   
   

    
}
.container{
    width: 40%;
    border-radius: 15px 50px;
    background:#7e2203;
    margin: 1% 1% 1% 0%;
    float: right;
    height: 620px;
    margin-top: 60px;
    color: #fff;
    margin-left: 20px;
    
}
.container1{
  width: 40%;
  border-radius: 15px 50px;
  background:#7e2203;
  margin: 1% 1% 1% 0%;
  float: right;
  height: 320px;
  margin-top: 190px;
  color: #fff;
  margin-left: 20px;
  
}
.header h2{
    padding: 5px;
}
input{
text-align:center;
width:400px;
background:palegoldenrod ;
border:red;
border-bottom: 1px solid #fff;
font-family: 'Play',sans-serif;
font-size:16px;
font-weight:200px;
padding:10px;
transition:border 0.5s;
outline:none;
color:black;
border-radius: 15px 50px;


}
.fields{
    padding: 2px;
}
.inputform{
    margin-left: 2px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 15px 50px;
  }
  
  button:hover {
    opacity:1;
  }
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  .leftcontainer{
    width: 40%;
    border-radius: 15px 50px;
    color: #fff;
    margin: 1% 1% 1% 0%;
    float: left;
    height: 200px;
    margin-top: 50px;
    margin-left: 10px;
    background: #7e2203;
    opacity: 0.9;
    

  }

  .indexbox{
    background: #7e2203;
    width: 100%;
    height: 100%;
  }


  /* Responsive */
  @media screen and (max-width: 1102px) {
    .leftcontainer , .container ,.container1 {
      width: 100%;
      margin: 1% 1% 1% 1%;
      margin-left: 0;
    }
    input{
      width: 80vw;
    }
   .container{
     height: 75vh;
   }
  }
 