body{
    background-image:  url("images/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.container{
    width: 40%;
    border-radius: 3px;
    background:transparent;
    margin: 1% 1% 1% 0%;
    float: right;
    height: 600px;
    margin-top: 40px;
    
}
.header h2{
    padding: 5px;
}
input{
text-align:center;
width:400px;
background:lightcoral ;
border:red;
border-bottom: 1px solid #fff;
font-family: 'Play',sans-serif;
font-size:16px;
font-weight:200px;
padding:10px;
transition:border 0.5s;
outline:none;
color:#fff;
border-radius:5px;


}
.fields{
    padding: 2px;
}
.inputform{
    margin-left: 2px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  .leftcontainer{
    width: 40%;
    border-radius: 3px;
    background:transparent;
    margin: 1% 1% 1% 0%;
    float: left;
    height: 100px;
    margin-top: 70px;
    margin-left: 10px;

  }
  .leftcontainerl{
    width: 40%;
    border-radius: 3px;
    background:transparent;
    margin: 1% 1% 1% 0%;
    float: left;
    height: 100px;
    margin-top: 20px;
    margin-left: 10px;
    

  }

 